* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(50, 50, 50);
  font-family: sans-serif;
}

.login-div{
background-color: rgb(30, 215, 96);
width: 500px;
height: 350px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
border-radius: 20px;
padding: 50px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
color: rgb(25, 20, 20);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.500);
}

.login-title{
  font-size: 50px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.600);
  margin: 0 0 50px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.300);
}

.label-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.300);
  width: 300px;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  resize: none;
}

.text-input:hover {
  background-color: rgb(230, 255, 230);
}

.button{
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.300);
  background-color: rgb(25, 20, 20);
  color: rgb(30, 215, 96);
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.500);
  margin: 30px 0 0 0;
}

.button:disabled {
  opacity: 30%;
}

.button:hover {
  background-color: rgb(230, 255, 230);
  color: rgb(25, 20, 20);
  box-shadow: 0 0 10px black;
}

.loading-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 800;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.600);
}


.loading-small {
  display: flex;
  justify-content: center;
}

.loading-small::after{
  content: "";
  width: 15px;
  height: 15px;
  border: 7px solid rgb(231, 231, 231);
  border-top-color: rgb(30, 215, 96);
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.header {
  background-color: rgb(30, 215, 96);
  color: rgb(25, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 60px 0;
}

.welcome-title {
  padding: 20px 5px;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 50px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.600);
  text-decoration: none;
  color: rgb(25, 20, 20);
  font-weight: 800;
}

.welcome{
  font-size:20px;
  font-weight: 600;
}

.user-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: rgb(25, 20, 20);
  color: rgb(30, 215, 96);;
  padding: 10px;
  border-radius: 15px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.500);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.500);
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(25, 20, 20);
}

.link {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  color: rgb(30, 215, 96);
  box-shadow: -5px 0 5px rgba(255, 255, 255, 0.2);
  padding: 8px;
  width: 33.3%;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.link:hover {
  background-color: rgb(230, 255, 230);
  color: rgb(25, 20, 20);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
}

.search-div-container {
  margin: auto;
  padding: 30px;
  color: rgb(25, 20, 20);
  background-color: rgb(30, 215, 96);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.500);
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-text {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.search-result-title {
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(30, 215, 96);
}

.album-results {
  width: 100%;
  margin: 70px auto;
  padding: 20px;
  border-top: 1px solid;
  border-top-color: rgb(30, 215, 96);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.album-div {
  padding: 0 20px;
  margin: 10px;
  color: rgb(230, 255, 230);
  border-radius: 5px;
  width: 300px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-decoration: none;
}

.album-link {
  text-decoration: none;
}

.album-image {
  width: 300px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.album-title {
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  padding: 10px 0 0 0;
  color: rgb(30, 215, 96);  
}

.album-artist {
  margin: 20px 0 10px 0;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.album-page {
  width: 60%;
  margin: auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.album-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-evenly;
}

.album-cover {
  width: 360px;
  height: 360px;
  padding: 20px;
  color: rgb(30, 215, 96);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.cover-image {
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  margin: 0 0 10px 0;
}

.album  {
  font-weight: 400;
}

.tracklist {
  color: rgb(30, 215, 96);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.track-audio-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: rgb(30, 215, 96) 0.5px solid;
}

.track-container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
  width: 275px;
  margin: 0 10px 0 0;
}
.audio {
  height: 30px;
  width: 300px;
  border: rgb(30,215,96) 2px solid;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.favorite {
max-height: 60px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
width: 100px;
}

.checkbox-fav {
  margin: 0 5px 0 10px;
}

.favorites-div {
  width: 800px;
  margin: auto;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.favorites-title {
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(30, 215, 96);
}

.favorites-album-cover {
  width: 50px;
  border-radius: 5px;
  margin: 0 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.profile-div{
  margin: auto;
  padding: 30px;
  color: rgb(25, 20, 20);
  background-color: rgb(30, 215, 96);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
  height: 370px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.500);
}

.profile-title {
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(25, 20, 20);
}

.profile-info {
  padding: 20px;
  display: flex;
  flex-direction:column ;
  width: 350px;
  color: rgb(30, 215, 96);
  background-color: rgb(25, 20, 20);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.profile-img {
  width: 80px;
  border-radius: 20px;
  border: 2px rgb(25, 20, 20) solid;
  background-color: rgb(30, 215, 96);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.photo-and-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.username {
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);   
}

.email {
  font-size: 16px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4); 
}

.description {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 16px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4); 
  max-height: 50px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button {
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.300);
  color: rgb(25, 20, 20);
  background-color: rgb(30, 215, 96);
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.500);
  margin: 30px 0 0 0;
}

.edit-button:hover {
  background-color: rgb(230, 255, 230);
  color: rgb(25, 20, 20);
  box-shadow: 0 0 10px black;
}

.profile-edit-container {
padding: 0 0 50px 0;
}

.profile-edit-div {
  margin: auto;
  padding: 50px;
  color: rgb(25, 20, 20);
  background-color: rgb(30, 215, 96);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  /* height: 600px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.500);
}

.profile-edit-title{
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
  color: rgb(25, 20, 20);
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction:column ;
  width: 350px;
  color: rgb(30, 215, 96);
  background-color: rgb(25, 20, 20);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.textarea {
  font-family: sans-serif;
}
.save-button {
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.300);
  color: rgb(25, 20, 20);
  background-color: rgb(30, 215, 96);
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.500);
  margin: 10px 0 0 0;
}

.save-button:hover {
  color: rgb(25, 20, 20);
  background-color: rgb(230, 255, 230);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.500);
}

.save-button:disabled {
  opacity: 40%;
}